<?xml version="1.0" encoding="utf-8"?>
<odoo>
   <!-- Menu Items -->
    <menuitem
        id="menu_estate_root"
        name="Estate"
        web_icon="estate,static\description\images.jpg"
        sequence="0"  
    />
    <menuitem
        id="menu_property_master"
        name="Property Master"
        parent="menu_estate_root"
        sequence="0"   
    />   
    />
</odoo>